body {
	margin: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgb(53, 57, 61);
	color: white;
	font-family: "Dongle", sans-serif;
	overflow: hidden;
	position: fixed;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p {
	margin: 0.5vh 0;
}

a {
	color: white;
}

.letter-puzzle-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40%;
}

button {
	font-family: "Dongle", sans-serif;
	padding: 0;
	font-size: 5vh;
	font-weight: 200;
	background-color: white;
	color: white;
	border-width: 0 0 0.5vh;
	border: solid transparent;
	border-width: 0 0 0.7vh;
	transform: translateZ(0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65%;
	height: 7vh;
	border-radius: 2.2vh;
	filter: drop-shadow(0px 0.7vh 0px rgb(0, 0, 0, 0.45));
	cursor: pointer;
}

button:after {
	background-clip: padding-box;
	background-color: rgb(53, 57, 61);
	border: solid transparent;
	border-radius: 2vh;
	border-width: 0 0 0.2vh;
	bottom: -0.2vh;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

button:active {
	border-width: 0.4vh 0 0;
	background: none;
}

button:disabled {
	opacity: 0.5;
	border-width: 0 0 0.3vh;
}

.button-container {
	width: 100%;
	height: 6.8vh;
	border-radius: 2.3vh;
	display: flex;
	border: 0.3vh solid white;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding-top: 0.4vh;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

@media (min-width: 1025px) {
	#start-button {
		width: 450px !important;
	}

	#continue-button {
		width: 450px !important;
	}

	#share-button {
		width: 450px !important;
	}

	#main-menu-button {
		width: 450px !important;
	}

	.space {
		padding: 0 1.8vh !important;
	}

	.disappear {
		padding: 0 !important;
	}

	.tutorial-page {
		width: 450px !important;
	}

	.dialog-page {
		width: 450px !important;
	}

	.tutorial-progress-circle {
		width: 2vh !important;
		height: 2vh !important;
	}

	#button-container {
		width: 400px !important;
	}

	.letter-puzzle-container {
		margin-bottom: 20% !important;
	}

	.letters-container {
		padding-top: 10% !important;
	}

	#tabs {
		width: 600px !important;
	}

	#top-1 {
		margin-left: -2.5px !important;
	}

	#top-2 {
		margin-left: 299.5px !important;
	}

	#main-menu {
		margin-bottom: 5% !important;
	}

	#menu-small-buttons-container {
		width: 25% !important;
	}

	.letter:hover:not(.tutorial-letter) {
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.22);
	}

	.small-circle-button:hover:not(.hints-button-pressed) {
		background-color: #394652;
		color: rgb(210, 210, 210);
	}

	.dialog-info {
		font-size: 4svh;
	}

	.dialog-changelog {
		font-size: 3.5svh;
	}

	.isabisabel-text {
		display: inline !important;
	}

	.flower {
		padding-top: 0.5vh !important;
		padding-left: 3px !important;
		height: 1em !important;
	}
}

#title {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1rem;
	font-weight: 700;
	position: absolute;
	top: 3vh;
	transition: color 0.3s;

	width: 100vw;
	height: 15vh;
	font-size: 12vh;
}

.title-bounce-out {
	animation: titleBounceOut 0.4s ease-in-out forwards;
}

.title-bounce-in {
	animation: titleBounceIn 0.4s ease-in-out forwards;
}

@keyframes titleBounceOut {
	0% {
		top: 3vh;
	}
	30% {
		top: 4vh;
	}
	100% {
		top: -10vh;
	}
}

@keyframes titleBounceIn {
	0% {
		top: -10vh;
	}
	70% {
		top: 4vh;
	}
	100% {
		top: 3vh;
	}
}

#top-bar-container {
	position: absolute;
	top: -6vh;
	width: 100vw;
}

#back-button {
	margin-left: 3vh;
	width: 3vh;
}

#back-button:active {
	opacity: 0.8;
}

#back-button:hover {
	opacity: 0.8;
}

.back-button-bounce-out {
	animation: backButtonBounceOut 0.4s ease-in-out forwards;
}

.back-button-bounce-in {
	animation: backButtonBounceIn 0.4s 0.1s ease-in-out forwards;
}

@keyframes backButtonBounceOut {
	0% {
		top: 7vh;
	}
	30% {
		top: 8vh;
	}
	100% {
		top: -6vh;
	}
}

@keyframes backButtonBounceIn {
	0% {
		top: -6vh;
	}
	70% {
		top: 8vh;
	}
	100% {
		top: 7vh;
	}
}

#body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#footer {
	height: 15vh;
	width: 100vw;
	position: absolute;
	top: 86svh;
	display: flex;
	justify-content: center;
}

.letters-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	font-weight: 300;
	height: 6.5vh;
	font-size: 10vh;
	transition: color 0.3s;
	padding-bottom: 3vh;
}

.green {
	color: rgb(0, 222, 0);
}

.red {
	color: red;
}

.purple {
	color: #c23fff;
}

.letter {
	padding: 0 0.4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 0.5vh;
	transition: padding 0.1s ease-in, transform 0.1s ease-in, width 0.1s ease-in;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.error-shake {
	animation: error-shake 0.2s 0.1s ease-in-out;
}

@keyframes error-shake {
	0% {
		margin-left: 0px;
	}
	25% {
		margin-left: 8px;
	}
	75% {
		margin-left: -8px;
	}
	100% {
		margin-left: 0px;
	}
}

.preview {
	background-color: rgba(255, 255, 255, 0.064);
}

.held {
	background-color: rgba(255, 255, 255, 0.22);
}

.space {
	padding: 0 2.8vw;
}

.disappear {
	padding: 0;
	transform: scaleX(0);
	width: 0;
}

#button-container {
	height: 9vh;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.puzzle-button {
	width: 8.5vh;
	height: 7vh;
	border-radius: 3vh;
	border-width: 0 0 0.7vh;
}

.puzzle-button:after {
	border-radius: 3vh;
	border-width: 0 0 0.2vh;
}

.puzzle-button-img-container {
	width: 8.5vh;
	height: 6.4vh;
	border-radius: 3vh;
	display: flex;
	border: 0.3vh solid white;
	border-bottom-width: 0.45vh;
	justify-content: center;
	align-items: center;
}

.puzzle-button:active {
	border-width: 0.2vh 0 0;
	background: none;
}

.undo-button-img {
	height: 3vh;
	padding-right: 0.3vh;
}

.restart-button-img {
	height: 4.8vh;
}

#tabs {
	width: 100%;
	height: 40vh;
	position: absolute;
	bottom: -31dvh;
	pointer-events: none;
	will-change: transform;
}

.tab {
	position: absolute;
	border: solid white 0.3vh;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin-top: 7dvh;
	background-color: rgb(53, 57, 61);
	filter: drop-shadow(0px -0.65vh 0px rgb(0, 0, 0, 0.45));
	will-change: transform;
}

.popIn {
	animation: popIn 0.6s ease-in-out forwards;
}

.down {
	animation: bounceDown 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.up {
	animation: bounceUp 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.hop {
	animation: hop 0.5s ease-in-out;
}

.popDownFromUp {
	animation: popDownFromUp 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.popDownFromDown {
	animation: popDownFromDown 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@keyframes popIn {
	0% {
		bottom: -40dvh;
	}
	70% {
		bottom: -30dvh;
	}
	100% {
		bottom: -31dvh;
	}
}

@keyframes bounceUp {
	0% {
		bottom: -31dvh;
	}
	30% {
		bottom: -33dvh;
	}
	100% {
		bottom: -8dvh;
	}
}

@keyframes bounceDown {
	0% {
		bottom: -8dvh;
	}
	30% {
		bottom: -6dvh;
	}
	100% {
		bottom: -31dvh;
	}
}

@keyframes popDownFromUp {
	0% {
		bottom: -8dvh;
	}
	30% {
		bottom: -6dvh;
	}
	100% {
		bottom: -45dvh;
	}
}

@keyframes popDownFromDown {
	0% {
		bottom: -31dvh;
	}
	30% {
		bottom: -30dvh;
	}
	100% {
		bottom: -45dvh;
	}
}

@keyframes hop {
	30% {
		margin-top: 7dvh;
	}
	55% {
		margin-top: 6.5dvh;
	}
	100% {
		margin-top: 7dvh;
	}
}

.top {
	position: absolute;
	width: 50.1%;
	height: 7vh;
	margin-top: -7vh;
	border-top-left-radius: 3vh;
	border-top-right-radius: 3vh;
	border: solid white 0.3vh;
	border-bottom: 0;
	box-sizing: border-box;
	background-color: rgb(53, 57, 61);
	pointer-events: all;
	will-change: transform;
	cursor: pointer;
}

.selected {
	z-index: 2;
}

#top-1 {
	margin-left: -0.6%;
}

#tab-1 {
	border-top-right-radius: 3vh;
}

#top-2 {
	margin-left: 50.5%;
}

#tab-2 {
	border-top-left-radius: 3vh;
}

.new-word-container {
	color: rgb(0, 222, 0);
	font-size: 4vh;
	font-weight: 300;
	position: absolute;
	margin-bottom: 12vh;
	opacity: 0;
}

.new-combo-word-container {
	color: #c23fff;
	font-size: 4vh;
	font-weight: 300;
	position: absolute;
	margin-bottom: 12vh;
	opacity: 0;
}

.new-word-anim {
	animation: riseUp 1.5s;
}

.new-combo-word-anim {
	animation: riseUp 2s;
}

@keyframes riseUp {
	0% {
		margin-bottom: 12vh;
		opacity: 0;
	}
	10% {
		opacity: 0;
		margin-bottom: 12vh;
	}
	20% {
		opacity: 1;
	}
	100% {
		margin-bottom: 15vh;
		opacity: 0;
	}
}

.game-over-container {
	font-size: 8vh;
	text-align: center;
	padding: 0 4vh;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
}

.game-over-subtitle {
	font-size: 4vh;
	font-weight: 300;
	line-height: 0.9;
}

#continue-button {
	width: 85vw;
	margin-top: 3vh;
	height: 7vh;
}

#continue-button-container {
	display: flex;
	flex-direction: column;
	line-height: 0.5;
	justify-content: space-evenly;
	padding-top: 0.5vh;
}

#continue-button-title {
	font-size: 4.5vh;
	font-weight: 400;
}

#continue-button-subtitle {
	font-size: 3vh;
}

#main-menu-button {
	width: 85vw;
	margin-top: 2vh;
	height: 7vh;
}

#share-button {
	width: 85vw;
	margin-top: 2vh;
	height: 7vh;
}

.continue-low:after {
	background-color: #ff6063;
}

.archive-low {
	background-color: #ff6063 !important;
}

.continue-low {
	color: #35393d;
}

.continue-medium:after {
	background-color: #e5ea16;
}

.archive-medium {
	background-color: #e5ea16 !important;
}

.continue-medium {
	color: #35393d;
}

.continue-high:after {
	background-color: #47beff;
}

.archive-high {
	background-color: #47beff !important;
}

.continue-high {
	color: #35393d;
}

.continue-complete:after {
	background-color: #66ff58;
}

.archive-complete {
	background-color: #66ff58 !important;
}

.continue-complete {
	color: #35393d;
}

.found-words-container {
	margin: 3vh;
	font-size: 4.8vh;
	letter-spacing: 0.1rem;
	pointer-events: all;
	height: 53%;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: auto rgb(0, 0, 0, 0);
}

.found-word {
	animation: greenGlow 1s ease-in-out forwards;
}

.word-list {
	line-height: 0.7;
	padding-bottom: 1.4vh;
}

.blank-word {
	width: 2.5vh;
	height: 3vh;
	margin-right: 1vh;
	border-radius: 15%;
	display: inline-block;
	background-color: rgb(37, 39, 42);
	vertical-align: middle;
}

@keyframes greenGlow {
	0% {
		color: white;
	}
	50% {
		color: rgb(0, 222, 0);
	}
	100% {
		color: white;
	}
}

.definitions-container {
	margin: 3vh;
	letter-spacing: 0.15rem;
	pointer-events: all;
	height: 52%;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: auto rgb(0, 0, 0, 0);
	font-family: "Gelasio", serif;
}

::-webkit-scrollbar {
	width: 5px;
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.3);
}

.definition {
	padding-bottom: 2vh;
}

.definition-word {
	font-size: 5vh;
	letter-spacing: 0.24rem;
}

.definition-dot {
	padding-left: 0.4vh;
	font-size: 2.5vh;
}

.definition-partOfSpeech {
	font-size: 3vh;
	color: rgb(55 144 255);
}

.definition-body {
	padding-top: 0.5vh;
	line-height: 1.35;
	font-size: 2.4vh;
}

#main-menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 4.5vh;
	margin-bottom: -5%;
}

#date {
	padding-bottom: 1.5vh;
}

#percent-complete-info {
	padding-top: 3vh;
	font-weight: 300;
	text-align: center;
	width: 90%;
	line-height: 0.8;
}

#start-button {
	width: 85vw;
	font-size: 6vh;
	font-weight: 400;
}

.tutorial-container {
	z-index: 3;
	width: 100vw;
	height: 100svh;
	top: 0svh;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.tutorial-page {
	width: 77vw;
	height: 60svh;
	background-color: rgb(53, 57, 61);
	border: solid white 0.35vh;
	border-radius: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 2.5svh;
	cursor: pointer;
}

.hidden {
	display: none;
}

.tutorial-title {
	font-size: 7vh;
	text-align: center;
}

.tutorial-text {
	font-size: 4.8svh;
	font-weight: 300;
	line-height: 0.8;
	text-align: center;
}

.tutorial-letter-container {
	height: 23svh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 10vh;
	transition: color 0.3s;
}

#tutorial-progress-container {
	height: 5vh;
	width: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	position: absolute;
	top: 72svh;
}

.tutorial-progress-circle {
	background-color: gray;
	border-radius: 10vh;
	width: 3.5vw;
	height: 3.5vw;
}

.filled {
	background-color: white;
}

.small-circle-button {
	background-color: #485766;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vh;
	height: 5vh;
	border-radius: 10vh;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.small-circle-button:active:not(.hints-button-pressed) {
	background-color: #394652;
	color: rgb(210, 210, 210);
}

.tutorial-button-menu {
	position: absolute;
	top: 92svh;
	margin-right: 10vh;
}

.info-button-menu {
	position: absolute;
	top: 92svh;
	margin-left: 10vh;
}

.beta-icon {
	position: absolute;
	top: 86svh;
	left: 3vh;
	background-color: rgb(255, 73, 73);
}

.beta-icon-archive {
	top: 7svh;
	right: 10vh;
	left: auto;
}

.tutorial-button-text {
	padding-top: 0.6vh;
	font-size: 5vh;
}

.tutorial-button-top-bar {
	position: absolute;
	right: 3vh;
	top: 0;
}

.hint-button-top-bar {
	position: absolute;
	right: 3vh;
	top: 15vh;
}

.hint-button-icon {
	height: 2.7vh;
}

.hints-button-pressed {
	filter: brightness(0.6);
}

#puzzle-no {
	line-height: 0.5;
}

.share-star {
	padding: 0 5px;
	font-size: 3vh;
}

#menu-small-buttons-container {
	width: 80%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	padding-top: 5vh;
}

.calendar-button-img {
	height: 3.8vh;
	margin-bottom: 5%;
}

.share-button-img {
	height: 3.8vh;
	margin-bottom: 5%;
}

.debug-menu {
	width: 100vw;
	height: 100svh;
	position: absolute;
	pointer-events: none;
	z-index: 10;
	font-size: 5vh;
}

.debug-column {
	pointer-events: all;
	background-color: rgb(0, 0, 0, 0.4);
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 3vh;
}

.debug-section {
	padding-bottom: 4vh;
}

.debug-input {
	width: 50vw;
	height: 4vh;
	margin-bottom: 2vh;
	font-size: 3vh;
}

.debug-checkbox {
	height: 3vh;
	width: 3vh;
}

.debug-button {
	margin-bottom: 2vh;
	max-width: 300px;
}

.new-shake {
	animation: new-shake 0.7s 0.1s ease-in-out;
}

.new-shake-2 {
	animation: new-shake-2 0.7s 0.1s ease-in-out;
}

@keyframes new-shake {
	0% {
		transform: scale(1) rotate(0deg);
		margin-bottom: 0px;
	}
	35% {
		transform: scale(1.3) rotate(0deg);
		margin-bottom: 8px;
	}
	50% {
		transform: scale(1.2) rotate(15deg);
		margin-bottom: 8px;
	}
	65% {
		transform: scale(1.2) rotate(-15deg);
		margin-bottom: 8px;
	}
	80% {
		transform: scale(1.2) rotate(15deg);
		margin-bottom: 8px;
	}
	100% {
		transform: scale(1) rotate(0deg);
		margin-bottom: 0px;
	}
}

@keyframes new-shake-2 {
	0% {
		transform: scale(1) rotate(0deg);
		margin-bottom: 0px;
	}
	35% {
		transform: scale(1.3) rotate(0deg);
		margin-bottom: 8px;
	}
	50% {
		transform: scale(1.2) rotate(-15deg);
		margin-bottom: 8px;
	}
	65% {
		transform: scale(1.2) rotate(15deg);
		margin-bottom: 8px;
	}
	80% {
		transform: scale(1.2) rotate(-15deg);
		margin-bottom: 8px;
	}
	100% {
		transform: scale(1) rotate(0deg);
		margin-bottom: 0px;
	}
}

.dialog-container {
	z-index: 3;
	width: 100vw;
	height: 100svh;
	top: 0svh;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.dialog-page {
	z-index: 4;
	width: 70vw;
	background-color: rgb(53, 57, 61);
	border: solid white 0.35vh;
	border-radius: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 2.5svh;
}

.dialog-title {
	font-size: 6.5vh;
	text-align: center;
	line-height: 1;
	padding-bottom: 0.5vh;
}

.dialog-text {
	font-size: 4.4svh;
	font-weight: 300;
	line-height: 0.8;
	text-align: center;
	padding-bottom: 0.75vh;
}

.dialog-info {
	width: 100%;
	font-size: 4.4svh;
	text-align: left;
}

.dialog-buttons-container {
	padding: 2vh 0 2vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.dialog-button {
	width: 10vh;
	pointer-events: all;
	height: 7vh;
}

.dialog-button-text-container {
	width: 100%;
	height: 100%;
	border-radius: 2.2vh;
	display: flex;
	border: 0.3vh solid white;
	border-bottom-width: 0.45vh;
	justify-content: center;
	align-items: center;
}

.dialog-info {
	padding-bottom: 0.3vh;
	text-align: left;
	width: 100%;
}

.dialog-info a {
	text-decoration: none;
	color: rgb(252 255 52);
}

.dialog-changelog {
	padding-bottom: 0.3vh;
	text-align: left;
	width: 100%;
}

ul {
	margin: 0 0 1vh 1vh;
}

.dialog-container-changelog {
	overflow-y: auto;
	max-height: 30vh;
}

.changelog-button {
	position: absolute;
	top: 91.7svh;
	right: 2vh;
}

.changelog-icon {
	width: 4.5svh;
}

.changelog-button:hover {
	opacity: 0.7;
}

.changelog-button:active {
	opacity: 0.7;
}

@font-face {
	font-family: readex-pro;
	src: url("ReadexPro-Regular.ttf");
}

.isabisabel {
	font-size: 3vh;
	position: absolute;
	bottom: 2vh;
	left: 3vh;
	z-index: 2;
	color: rgba(255, 255, 255, 0.45);
	cursor: pointer;
	pointer-events: all;
	font-family: readex-pro;
}

.isabisabel-text {
	display: none;
}

.flower {
	padding-bottom: 0.2vh;
	height: 1.7em;
	vertical-align: text-top;
	opacity: 0.8;
}
