#archive {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4.5vh;
	padding-bottom: 10%;
}

#calendar {
	width: 87vw;
	height: 48vh;
}

@media (min-width: 530px) {
	#archive {
		padding-bottom: 0%;
	}

	#calendar {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 65vh !important;
	}

	#days-array {
		width: 50vh !important;
	}

	#calendar-header {
		width: 50vh !important;
	}

	#selected-day-menu {
		width: 450px !important;
	}

	#start-button-archive {
		width: 450px !important;
	}
}

#month-name {
	text-align: center;
}

#days-array {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-row-gap: 7.5%;
	grid-column-gap: 2%;
	height: 100vw;
	width: 100%;
	padding-top: 3vh;
}

.day-container {
	grid-column: span 1;
	grid-row: span 1;
	align-self: stretch;
	border-radius: 6%;
}

.day {
	width: 100%;
	height: 100%;
	background: #778088;
	border-radius: 6%;
	filter: drop-shadow(0px 0.65vh 0px rgb(0, 0, 0, 0.45));
	display: flex;
	justify-content: center;
	align-items: center;
}

.day:active:not(.inactive) {
	transform: translate(0, 0.65vh);
	filter: brightness(1.05);
}

.inactive {
	filter: none;
	background-color: #4c5155;
}

.empty-day {
	grid-column: span 1;
	grid-row: span 1;
	align-self: stretch;
}

#calendar-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#left-arrow {
}

#right-arrow {
	transform: scaleX(-1);
}

.arrow {
	width: 2vh;
	height: 3vh;
}

.disabled {
	opacity: 0.5;
}

#selected-day-container {
	z-index: 3;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#selected-day-menu {
	width: 77vw;
	height: 33vh;
	background-color: rgb(53, 57, 61);
	border: solid white 0.35vh;
	border-radius: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 2.5vh;
}

#selected-day-menu-body {
	padding-top: 2vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selected-day-title {
	font-size: 6vh;
	text-align: center;
	line-height: 1;
}

.selected-day-subtitle {
	font-size: 4.5vh;
	text-align: center;
	line-height: 1;
	padding-top: 1vh;
}

#start-button-archive {
	width: 75vw;
	font-size: 6vh;
	font-weight: 400;
}

#percent-complete-info-archive {
	padding-top: 3vh;
	font-weight: 300;
	text-align: center;
	width: 100%;
	line-height: 0.8;
}

.archive-checkmark-img {
	width: 3.3vh;
	position: absolute;
}

.archive-date-text {
	position: relative;
	color: rgb(140, 140, 140);
	line-height: 0;
	font-size: 3vh;
	top: -1vh;
	width: 100%;
	text-align: center;
}

.today {
	color: white;
}

#today-text {
	font-weight: 300;
	text-align: center;
	width: 100%;
	line-height: 0.8;
	padding-top: 5vh;
}

.gold-border {
	border: 0.4vh solid #fdcd20;
	box-sizing: border-box;
}
